doctype html
html.no-js
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', data-i18n='head.description', data-i18n-attr='content')

		- var page_title = 'head.title-home'
		title(data-i18n=page_title)

		meta(property='og:title', content=page_title)
		meta(property='og:type', content='website')
		meta(property='og:url', content='https://insideinterior.net/')
		meta(property='og:image', content='https://insideinterior.net/images/projects/makassar/10-sq-me.jpg')
		meta(property='og:description', data-i18n='head.description', data-i18n-attr='content')
		meta(property='og:site_name', content='Inside Interior')

		script(type='text/javascript', src='/js/inline-head.js')
		link(rel='stylesheet', href='css/home.css', data-i18n-link='href')

		link(rel='preload', href='font/axis.woff2', as='font', type='font/woff2', crossorigin, data-i18n-link='href')
		link(rel='preload', href='font/ProximaNova.woff2', as='font', type='font/woff2', crossorigin, data-i18n-link='href')
		noscript
			link(rel='stylesheet', href='css/font.css', data-i18n-link='href')
		script(type='text/javascript', src='js/home.js', async='', data-i18n-link='src')

		link(rel='apple-touch-icon', sizes='180x180', href='apple-touch-icon.png', data-i18n-link='href')
		link(rel='icon', type='image/png', href='favicon-32x32.png', sizes='32x32', data-i18n-link='href')
		link(rel='icon', type='image/png', href='favicon-16x16.png', sizes='16x16', data-i18n-link='href')
		link(rel='manifest', href='manifest.json', data-i18n-link='href')
		link(rel='mask-icon', href='safari-pinned-tab.svg', color='#5bbad5', data-i18n-link='href')
		meta(name='theme-color', content='#1793C6')

		link(rel='canonical', data-i18n-attr='href', data-i18n-id='https://insideinterior.net/', data-i18n-en='https://insideinterior.net/en/')
		link(rel='alternate', hreflang='en', href='https://insideinterior.net/en/')
		link(rel='alternate', hreflang='id', href='https://insideinterior.net/')
		link(rel='alternate', hreflang='x-default', href='https://insideinterior.net/en/')

		-
			var ld_json = {
				"@context": "http://schema.org",
				"@type": "LocalBusiness",
				"url": "{{ld_json.url}}",
				"name": "Inside Interior",
				"logo": "https://insideinterior.net/images/inside_logo.png",
				"image": "https://insideinterior.net/images/inside_logo.png",
				"description": "{{about.content}}",
				"email": "info@insideinterior.net",
				"location": [
					{
						"@type": "Place",
						"name": "Workshop",
						"address": {
							"@type": "PostalAddress",
							"addressCountry": "Indonesia",
							"addressLocality": "Surabaya",
							"addressRegion": "{{contact.province}}",
							"streetAddress": "Jl. Raya Kuwukan No. 107 Kav. 4-5",
							"postalCode": "60217"
						},
						"geo": {
							"@type": "GeoCoordinates",
							"latitude": "-7.272737",
							"longitude": "112.659813"
						}
					},
					{
						"@type": "Place",
						"name": "{{contact.office}}",
						"address": {
							"@type": "PostalAddress",
							"addressCountry": "Indonesia",
							"addressLocality": "Surabaya",
							"addressRegion": "{{contact.province}}",
							"streetAddress": "Jl. Darmo Baru Barat VII/49",
							"postalCode": "60189"
						},
						"geo": {
							"@type": "GeoCoordinates",
							"latitude": "-7.278643",
							"longitude": "112.697670"
						}
					}
				],
				"address": {
					"@type": "PostalAddress",
					"addressCountry": "Indonesia",
					"addressLocality": "Surabaya",
					"addressRegion": "{{contact.province}}",
					"streetAddress": "Jl. Darmo Baru Barat VII/49",
					"postalCode": "60189"
				},
				"geo": {
					"@type": "GeoCoordinates",
					"latitude": "-7.278643",
					"longitude": "112.697670"
				},
				"telephone": "+6281-251-220-220",
				"makesOffer": [
					{
						"@type": "Offer",
						"itemOffered": {
							"@type": "Service",
							"name": "{{expertise.item_1.title}}",
							"description": "{{expertise.item_1.detail}}",
							"serviceType": "{{expertise.item_1.title}}",
							"serviceOutput": "{{expertise.item_1.service_output}}"
						}
					},
					{
						"@type": "Offer",
						"itemOffered": {
							"@type": "Service",
							"name": "{{expertise.item_2.title}}",
							"description": "{{expertise.item_2.detail}}",
							"serviceType": "{{expertise.item_2.title}}",
							"serviceOutput": "{{expertise.item_2.service_output}}"
						}
					},
					{
						"@type": "Offer",
						"itemOffered": {
							"@type": "Service",
							"name": "{{expertise.item_3.title}}",
							"description": "{{expertise.item_3.detail}}",
							"serviceType": "{{expertise.item_3.title}}",
							"serviceOutput": "{{expertise.item_3.service_output}}"
						}
					}
				],
				"contactPoint": [
				 	{
						"@type": "ContactPoint",
						"telephone": "+6281-251-220-220",
						"contactType": "customer service"
					},
					{
						"@type": "ContactPoint",
						"telephone": "+6285-236-727-777",
						"contactType": "customer service"
					}
				],
				"sameAs": [
					"https://www.instagram.com/inside.interior",
					"https://www.facebook.com/InsideStudioDesign"
				],
				"founders": [
					"Agung Suryajaya Putra S. T.",
					"Randy Eka Pranoto S. T."
				]
			}

		script(type='application/ld+json') !{JSON.stringify(ld_json)}

	body
		// section.loading-page Loading ...
		span.menu-btn.js-menu-btn menu
		nav.nav.js-nav
			.nav__links
				a.nav__links__link.js-nav-link(data-scroll='', href='#about', data-i18n='nav.about')
				a.nav__links__link.js-nav-link(data-scroll='', href='#expertise', data-i18n='nav.expertise')
				a.nav__links__link.js-nav-link(data-scroll='', href='#projects', data-i18n='nav.projects')
				a.nav__links__link.js-nav-link(data-scroll='', href='#contact', data-i18n='nav.contact')
			p.nav__copyright='© 2017 '
				span Inside Interior
		main
			header.intro.js-intro
				svg.intro__logo
					use(xlink:href='images/icons.svg#inside_logo', data-i18n-link='xlink:href')
				.intro__intro
					h1.intro__title Inside
					h2.intro__tagline Where design comes alive
				.intro__lang
					a(href='/', class='lang__link lang__link--id', aria-label='Bahasa Indonesia', title='Bahasa Indonesia')
						svg(class='lang__icon')
							use(xlink:href='images/icons.svg#flag_id', data-i18n-link='xlink:href')
					span.lang__separator |
					a(href='/en', class='lang__link lang__link--en', aria-label='English', title='English')
						svg(class='lang__icon')
							use(xlink:href='images/icons.svg#flag_us', data-i18n-link='xlink:href')
			section#about.section
				.section__content
					h2.section__title.js-section-title(data-i18n='about.title')
					p.about__content.js-about-us(data-i18n='about.content')
			-
				var expertises = [
					{
						title  : 'expertise.item_1.title',
						detail : 'expertise.item_1.detail'
					},
					{
						title  : 'expertise.item_2.title',
						detail : 'expertise.item_2.detail'
					},
					{
						title  : 'expertise.item_3.title',
						detail : 'expertise.item_3.detail'
					}
				]
			section#expertise.section
				.section__content
					h2.section__title.js-section-title(data-i18n='expertise.title')
					ul.expertises
						each expertise, index in expertises
							li.expertise-wrapper.js-expertise(class= index == 0 ? 'js-last-hover' : '')
								.expertise
									h3.expertise__title(data-i18n=expertise.title)
									p.expertise__detail(data-i18n=expertise.detail)
			section#projects.section.section--projects
				.section__content
					h2.section__title.js-section-title(data-i18n='projects.title')
					each projects in locals
						h3.projects-category.js-project-category(data-i18n=projects.category)
						ul.projects.js-projects
							each project in projects.projects
								li.project-wrapper.js-project
									a(href=project.permalink)
										- var img_src = 'images/projects/' + project.permalink + '/' + project.homepage_img

										- var srcset_str = img_src + '-sq-xs.jpg 175w,'
										- srcset_str    += img_src + '-sq-sm.jpg 310w,'
										- srcset_str    += img_src + '-sq-me.jpg 445w,'
										- srcset_str    += img_src + '-sq-la.jpg 580w,'
										- srcset_str    += img_src + '-sq-xl.jpg 715w,'
										- srcset_str    += img_src + '-sq-xxl.jpg 850w'

										- var sizes_str = '(min-width: 34.75em) calc(50vw - 3rem), '
										- sizes_str    += '(min-width: 59em) calc((100vw - 3rem) / 3), '
										- sizes_str    += '75vw'
										figure.project.lazyload_wrapper
											img.project__img.lazyload(data-srcset=srcset_str,
											                          data-sizes='auto',
											                          data-src=img_src + '-sq-me.jpg',
											                          alt=project.title,
											                          data-i18n-link='data-srcset,data-src')
											figcaption.project__title= project.title
										noscript
											figure.project
												img.project__img(srcset=srcset_str,
												                 sizes=sizes_str,
												                 src=img_src + '-sq-me.jpg',
												                 alt=project.title,
												                 data-i18n-link='srcset,src')
												figcaption.project__title= project.title
			section#contact.section
				.section__content
					h2.section__title.js-section-title(data-i18n='contact.title')
					p.contact-greet.js-contact-greet(data-i18n='contact.subtitle')
					.contacts
						.contact.js-contact
							svg.contact__logo
								use(xlink:href='images/icons.svg#phone', data-i18n-link='xlink:href')
							.contact__content
								a.contact__link(href='tel:+6285-236-727-777', onclick='goog_report_conversion("tel:+6285-236-727-777")') +6285-236-727-777
								p.contact__name Randy Eka Pranoto S. T.
								a.contact__link(href='tel:+6281-251-220-220', onclick='goog_report_conversion("tel:+6281-251-220-220")') +6281-251-220-220
								p.contact__name Agung Suryajaya Putra S. T.
						.contact.js-contact
							svg.contact__logo
								use(xlink:href='images/icons.svg#pinpoint', data-i18n-link='xlink:href')
							.contact__content
								a.contact__link(href='https://www.google.com/maps/place/Inside+Interior/@-7.2786331,112.6955051,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x4aae846bf4ada467!8m2!3d-7.2786331!4d112.6976938', target='_blank') Jl. Darmo Baru Barat VII/49
								p.contact__sub-detail(data-i18n='contact.sby_office')
								a.contact__link(href='https://www.google.com/maps/?q=-7.272737,112.659813', target='_blank') Jl. Raya Kuwukan No. 107 Kav. 4-5
								p.contact__sub-detail(data-i18n='contact.sby_workshop')
						.contact.js-contact
							svg.contact__logo
								use(xlink:href='images/icons.svg#mail', data-i18n-link='xlink:href')
							.contact__content
								a.contact__link(href='mailto:info@insideinterior.net', onclick='goog_report_conversion("mailto:info@insideinterior.net")') info@insideinterior.net
		footer.footer
			.footer__logo-wrapper
				a.footer__soc-med-link(href='https://www.instagram.com/inside.interior', target='_blank')
					svg.footer__soc-med-logo
						use(xlink:href='images/icons.svg#instagram', data-i18n-link='xlink:href')
				a.footer__soc-med-link(href='https://www.facebook.com/InsideStudioDesign', target='_blank')
					svg.footer__soc-med-logo
						use(xlink:href='images/icons.svg#fb', data-i18n-link='xlink:href')
			p.footer__copyright © 2017 Inside Interior. All rights reserved.
		script(type='text/javascript', src='/js/inline-body.js')
		//- >>>>>>>>>>>>>> Google AdWords Conversion Tracking (oasisme) START
		script.
			goog_snippet_vars=function(){var o=window;o.google_conversion_id=858294567,o.google_conversion_label="H4N-CI6ymG8Qp5KimQM",o.google_conversion_value=0,o.google_conversion_currency="IDR",o.google_remarketing_only=!1},goog_report_conversion=function(o){goog_snippet_vars(),window.google_conversion_format="3";var n={};n.onload_callback=function(){void 0!==o&&(window.location=o)};var e=window.google_trackConversion;"function"==typeof e&&e(n)};
		script(type='text/javascript', src='//www.googleadservices.com/pagead/conversion_async.js', async='', defer='')
		//- >>>>>>>>>>>>>> Google AdWords Conversion Tracking (oasisme) END

		//- >>>>>>>>>>>>>> Google Remarketing Tag (oasisme) START
		script.
			var google_conversion_id = 858294567, google_custom_params = window.google_tag_params, google_remarketing_only = true;
		script(type='text/javascript', src='//www.googleadservices.com/pagead/conversion.js', async='', defer='')
		noscript
			div(style='display:inline;')
				img(height='1', width='1', style='border-style:none;', alt='', src='//googleads.g.doubleclick.net/pagead/viewthroughconversion/858294567/?guid=ON&amp;script=0')
		//- >>>>>>>>>>>>>> Google Remarketing Tag (oasisme) END
