doctype html
html.no-js(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='Inside Interior is a interior design firm based in Surabaya, Indonesia. We provide high quality yet affordable services varying from interior design, furniture contractor and architectural design.')
		meta(name='keywords' content='Inside Interior,Inside,interior,design,interior design,Surabaya,Indonesia,quality,high quality,cheap,affordable,architecture,furniture,service')
		title Inside Interior

		script(type='text/javascript', src='/js/inline-head.js')
		link(rel='stylesheet', href='css/home.css')

		link(rel='preload', href='font/axis.woff2', as='font', type='font/woff2', crossorigin)
		link(rel='preload', href='font/ProximaNova.woff2', as='font', type='font/woff2', crossorigin)
		noscript
			link(rel='stylesheet', href='css/font.css')
		script(type='text/javascript', src='js/home.js', async='')

		link(rel='apple-touch-icon', sizes='180x180', href='apple-touch-icon.png')
		link(rel='icon', type='image/png', href='favicon-32x32.png', sizes='32x32')
		link(rel='icon', type='image/png', href='favicon-16x16.png', sizes='16x16')
		link(rel='manifest', href='manifest.json')
		link(rel='mask-icon', href='safari-pinned-tab.svg', color='#5bbad5')
		meta(name='theme-color', content='#ffffff')

	body(itemscope='', itemtype='https://schema.org/LocalBusiness')
		// section.loading-page Loading ...
		span.menu-btn.js-menu-btn menu
		nav.nav.js-nav
			.nav__links
				a.nav__links__link.js-nav-link(data-scroll='', href='#about') About
				a.nav__links__link.js-nav-link(data-scroll='', href='#expertise') Expertise
				a.nav__links__link.js-nav-link(data-scroll='', href='#projects') Projects
				a.nav__links__link.js-nav-link(data-scroll='', href='#contact') Contact
			p.nav__copyright='© 2016 '
				span(itemprop='name') Inside Interior
		main
			header.intro.js-intro
				svg.intro__logo
					use(xlink:href='images/icons.svg#inside_logo', itemprop='logo')
				.intro__intro
					h1.intro__title Inside
					h2.intro__tagline Where design comes alive
			section#about.section
				.section__content
					h2.section__title.js-section-title About Us
					p.about__content.js-about-us(itemprop='description')
						| Inside Interior is a interior design firm based in Surabaya, Indonesia. Inside Interior was established in 2014 by two co-founders whose ambition is to design and create beautiful space. Both of us are honourable alumni of Petra Christian University. With our architectural background, we provide services varying from interior design, furniture contractor and architectural design. Inside Interior has grown rapidly along with the increasing demand on high quality yet affordable interior services. Our passionate team is always ready to bring your wildest dream alive.
			-
				var expertises = [
					{
						title  : 'Interior Design',
						detail : 'A few consultations will be needed to fulfill your needs of interior design. And combined with our experience, Inside Interior will deliver the finest design for you.'
					},
					{
						title  : 'Furniture Manufacture',
						detail : 'Beauty is perfection. Beside designing your dream, we have commited to make it true. Therefore, our professional team will be in charge during preparation, manufacturing until finishing process. Inside Interior will make sure every single furniture is immaculate both in design and quality.'
					},
					{
						title  : 'Architecture',
						detail : 'Home is where the heart is. It is our passion to design not only house, but home for our clients. With our modern style, we  make the best design that suits both the resident\'s preference and the environment.'
					}
				]
			section#expertise.section
				.section__content
					h2.section__title.js-section-title Expertise
					ul.expertises
						each expertise, index in expertises
							li.expertise-wrapper.js-expertise(class= index == 0 ? 'js-last-hover' : '')
								.expertise
									h3.expertise__title= expertise.title
									p.expertise__detail= expertise.detail
			section#projects.section.section--projects
				.section__content
					h2.section__title.js-section-title Projects
					each projects in locals
						h3.projects-category.js-project-category= projects.category
						ul.projects.js-projects
							each project in projects.projects
								li.project-wrapper.js-project
									a(href='./' + project.permalink)
										- var img_src = 'images/projects/' + project.permalink + '/' + project.homepage_img

										- var srcset_str = img_src + '-sq-xs.jpg 175w,'
										- srcset_str    += img_src + '-sq-sm.jpg 310w,'
										- srcset_str    += img_src + '-sq-me.jpg 445w,'
										- srcset_str    += img_src + '-sq-la.jpg 580w,'
										- srcset_str    += img_src + '-sq-xl.jpg 715w,'
										- srcset_str    += img_src + '-sq-xxl.jpg 850w'

										- var sizes_str = '(min-width: 34.75em) calc(50vw - 3rem), '
										- sizes_str    += '(min-width: 59em) calc((100vw - 3rem) / 3), '
										- sizes_str    += '75vw'
										figure.project.lazyload_wrapper
											img.project__img.lazyload(data-srcset=srcset_str,
											                          data-sizes='auto',
											                          data-src=img_src + '-sq-me.jpg',
											                          alt=project.title)
											figcaption.project__title= project.title
										noscript
											figure.project
												img.project__img(srcset=srcset_str,
												                 sizes=sizes_str,
												                 src=img_src + '-sq-me.jpg',
												                 alt=project.title)
												figcaption.project__title= project.title
			section#contact.section
				.section__content
					h2.section__title.js-section-title Contact
					p.contact-greet.js-contact-greet We would love to hear from you!
					.contacts
						.contact.js-contact
							svg.contact__logo
								use(xlink:href='images/icons.svg#phone')
							.contact__content
								a.contact__link(href='tel:+6281-251-220-220', itemprop='telephone') +6281-251-220-220
								p.contact__name(itemprop='founder') Agung Suryajaya Putra S. T.
								a.contact__link(href='tel:+6281-935-000-055', itemprop='telephone') +6281-935-000-055
								p.contact__name(itemprop='founder') Randy Eka S. T.
						.contact.js-contact
							svg.contact__logo
								use(xlink:href='images/icons.svg#pinpoint')
							.contact__content(itemprop='address', itemscope='', itemtype='http://schema.org/PostalAddress')
								p.contact__detail(itemprop='streetAddress') Jl. Raya Kuwukan No. 107 Kav. 4-5
								p.contact__sub-detail
									span(itemprop='addressLocality') Surabaya
									&#44;&nbsp;
									span(itemprop='addressRegion') East Java
									&#44;&nbsp;
									span(itemprop='addressCountry') Indonesia
									&#44;&nbsp;
									span(itemprop='postalCode') 60217
						.contact.js-contact
							svg.contact__logo
								use(xlink:href='images/icons.svg#mail')
							.contact__content
								a.contact__link(href='mailto:inside.interior@hotmail.com', itemprop='email') inside.interior@hotmail.com
						div(itemprop='geo', itemscope='', itemtype='http://schema.org/GeoCoordinates')
							meta(itemprop='latitude', content='-7.272737')
							meta(itemprop='longitude', content='112.659813')
		footer.footer
			.footer__logo-wrapper
				a.footer__soc-med-link(href='https://www.instagram.com/inside.interior/', target='_blank')
					svg.footer__soc-med-logo
						use(xlink:href='images/icons.svg#instagram')
				a.footer__soc-med-link(href='https://www.facebook.com/InsideStudioDesign', target='_blank')
					svg.footer__soc-med-logo
						use(xlink:href='images/icons.svg#fb')
			p.footer__copyright © 2016 Inside Interior. All rights reserved.
		script(type='text/javascript', src='/js/inline-body.js')
